@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Unbounded:wght@500&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}

header {
  background-color: aliceblue;
}

main {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board {
  font-family: 'Unbounded', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell.x::after {
  content: 'X';
}

.cell.o::after {
  content: 'O'
}

/* hovering only in empty cells */
.board.x>*:not(.cell.x):not(.cell.o):hover::after {
  color: lightgrey;
  content: 'X';
}

.board.o>*:not(.cell.x):not(.cell.o):hover::after {
  color: lightgrey;
  content: 'O';
}


/* .board.x>:not(.cell.o):hover::after {
  content: 'X';
}

.board.x>:not(.cell.o) {
  color: red;
} */

/* .board.x>:hover::after:not(.o) {
  content: 'X';
} */